<p id="notice"><%= notice %></p>

<h1>Tweet Donation Joins</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweet_donation_joins.each do |tweet_donation_join| %>
      <tr>
        <td><%= link_to 'Show', tweet_donation_join %></td>
        <td><%= link_to 'Edit', edit_tweet_donation_join_path(tweet_donation_join) %></td>
        <td><%= link_to 'Destroy', tweet_donation_join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet Donation Join', new_tweet_donation_join_path %>
